<table class="table table-striped ">
  <tr><%= @photo.title %></td>
    <td><%= @photo.date %></td>
    <td><%= image_tag @photo.file_location.url, size: "200x200", class: "img-thumbnail" %></td>
    <td><%= simple_format(@photo.description) %></td>
  </tr>

<p><%= link_to 'Back to index', photos_path %></p>